Node_Red
[{"id":"762bc2a5.07dfcc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"93f81257.4fb72","type":"ui_form","z":"762bc2a5.07dfcc","name":"","label":"","group":"5fcedd00.fe0e84","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":198,"y":176,"wires":[["31aaf147.fc6e5e"]],"l":false},{"id":"31aaf147.fc6e5e","type":"function","z":"762bc2a5.07dfcc","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":153,"wires":[["e53324e6.d5cf38","8b53508c.1001d"]],"l":false},{"id":"a7c41f88.5baff","type":"function","z":"762bc2a5.07dfcc","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":155,"wires":[["faaf3c3b.329e7"]],"l":false},{"id":"e53324e6.d5cf38","type":"watson-conversation-v1","z":"762bc2a5.07dfcc","name":"Customer Care","workspaceid":"26641034-7b34-4440-a3f0-3df855c5a8e4","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/939ab130-7fe0-4afe-b29a-6f46758a9d8a","timeout":"","optout-learning":false,"x":426,"y":99,"wires":[["f556cc3d.0f65e","a7c41f88.5baff"]],"l":false},{"id":"8b53508c.1001d","type":"ui_text","z":"762bc2a5.07dfcc","group":"5fcedd00.fe0e84","order":2,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":417,"y":241,"wires":[],"l":false},{"id":"f556cc3d.0f65e","type":"debug","z":"762bc2a5.07dfcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":618,"y":98,"wires":[],"l":false},{"id":"faaf3c3b.329e7","type":"ui_text","z":"762bc2a5.07dfcc","group":"5fcedd00.fe0e84","order":3,"width":11,"height":6,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":620,"y":245,"wires":[],"l":false},{"id":"5fcedd00.fe0e84","type":"ui_group","z":"","name":"Chatbot","tab":"8bee664c.ba8d68","order":1,"disp":true,"width":11,"collapse":false},{"id":"8bee664c.ba8d68","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]
